@charset "utf-8";

/* 기본셋팅 */
figure{
    overflow: hidden;
}


figure div{

    background: url("../images/sub01/sub_01_top.jpg");
    height:300px;
    background-position: 65%;
    width:100%;
  
    
    
}
.leftmenu{
    margin-right:30px;
    width:220px;
}

.leftmenu h2{
    font-size:1.5em;
    width:220px;
    text-align: center;
    height:70px;
    line-height: 70px;
    border-bottom:1px solid #aaa;
    
}
.leftmenu >ul >li >a{
    width:220px;
    text-align: left;
    height:50px;
    line-height: 50px;
    border-bottom:1px solid #aaa;
    text-indent: 10px;
    font-size:14px;
}



.leftmenu >ul >li >a:hover{
    background:#2ccc6c;
    color:white;
}

.leftmenu ul li a.on{
    background:#19773f;
    color:white;
}


.swiper-button-next,
.swiper-button-prev {
   color:rgb(107, 107, 107);
   
}



article{
    width:70%;
    margin-top:30px;
}

article >div:first-child{
    display:flex;
    justify-content: right;
    margin-bottom:30px;
    margin-right:60px;
    color:#999;
}

article >div:first-child a{
    color:#999;
}





article  h2{
    font-size:2.5em;
    margin-bottom:30px;
    border-bottom:1px solid #000;
    width:100%;
    padding-bottom:10px;
   
}

.section{
    display:flex;
    justify-content: space-between;
}

.section article{
    flex-grow:1;
    width:70%;
}




    /* 셋팅 */
  
    
     article div:nth-child(4)>div h3{
        flex-grow:1;
        font-size:1.2em;
        height:24px;
        line-height:24px;
       
     }
    
     article div:nth-child(4)>div label{
        line-height:24px;
        height:24px;
        font-size:16px;
        line-height:24px;
        font-size:0.9em !important;
        
        width:100px;
        text-align: right;
        text-indent: 10px;
        font-weight: bold;
     }
    
     article div:nth-child(4)>div #text1{
        margin-top:12px;
        width:180px ;
        height: 24px;
     }
    
     article div:nth-child(4)>div input:nth-child(2){
        margin-top:12px;
        width:60px;
        height:24px;
     }

     .sub_menu_list > div > ul > li{
        letter-spacing: -1px;
     }

     .swiper-button-next,
 .swiper-button-prev {
    display:none;   
    
 }


     

    



 /* 기본셋팅 */

 .leftmenu ul .leftli{
    position: relative;
    
 }



 .leftmenu ul li:first-child span{
    position: absolute;
    right:10px;
    top:12.5px;
    color:white;
    line-height:20px;
 }



 .leftmenu ul li:first-child ul{
    max-width:220px;
    height:100%;
    text-indent: 20px;
    background-color: #eeeeee;
 }

 .leftmenu ul li:first-child ul li{
    height:30px;
    line-height: 30px;
    font-size:14px;
 }

 article{
    margin:30px 0;
 }

 article div:nth-child(4)>div{
    display:flex;
    justify-content: space-between;
 }

 article div:nth-child(4)>div h3{
    margin-top:12px;
    flex-grow:1;
    margin-bottom:20px;
    font-size:1em;
    height:24px;
    line-height:24px;
 }

 article div:nth-child(4)>div label{
    margin-top:12px;
    height:24px;
    font-size:16px;
    line-height:24px;
    margin-right:10px;
    width:100px;
    text-align: right;
    text-indent: 10px;
    font-weight: bold;
    margin-bottom:20px;
 }

 article div:nth-child(4)>div #text1{
    margin-top:12px;
    width:250px;
    height: 24px;
 }

 article div:nth-child(4)>div input:nth-child(2){
    margin-top:12px;
    width:60px;
    height:24px;
 }

 .swip{
    position: relative;
}
.swiper{
    width: calc(100% - 100px) ;
    padding-bottom: 50px;
    text-align: center;
}


 
 






.submenuwrap{
    display:flex;
}

.sub_menu{
    width:130px;
    text-indent: 10px;
}

.sub_menu ul li{
    font-size:14px;
    height:50px;
    line-height: 50px;
}

.sub_menu ul li.selected{
    background-color: #19773f;
    
}

.sub_menu ul li.selected a{
    color:white;
}
.sub_menu_list{
    flex-grow: 1;
    
}
.sub_menu_list > div{
     background-color: #19773f;
    width:100%;
    display: none;
    height: 100%;
    
}
.sub_menu_list > div .fl{
    display: flex;
    justify-content: space-around;
}

.sub_menu_list > div a{
    color:white;
}

.sub_menu_list > div > ul > li{
    font-size:12px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.sub_menu_list > div ul li{
    height:50px;
    line-height: 50px;
}

.sub_menu_list > div.sub_menu01{
    display:block;
}

.sub_menu06 ul li:first-child{
    
    font-size:20px;
    color:white;
}



@media screen and (max-width:600px){
    figure div{
        background: url("../images/sub01/mobile_main.png") no-repeat center !important; 
        background-size: 100% 200px !important;
        height:200px !important;
    }

    article div:nth-child(4)>div{
        display:block;
    }

    article div:nth-child(4)>div h3{
        margin-top:12px;
        flex-grow:1;
        margin-bottom:20px;
        font-size:1.5em;
        text-align: center;
       
     }
    
     article div:nth-child(4)>div label{
        margin-top:12px;
        height:24px;
        font-size:16px;
        line-height:24px;
        margin-right:10px;
        width:70px;
        text-align: right;
        text-indent: 10px;
        font-weight: bold;
        margin-bottom:20px;
     }

     form{
        display:flex;
        justify-content: center;
     }
    
     article div:nth-child(4)>div #text1{
        margin-top:12px;
        width:150px !important;
        height: 24px;
     }
    
     article div:nth-child(4)>div .ser{
        margin-left:5px;
        margin-top:12px;
        width:50px;
        height:26px !important;
     }

     .sub_menu_list > div.sub_menu01{
        text-indent: 10px;
     }



    

     .sub_menu_list > div .fl{
        display:block;
    }

    .sub_menu_list > div ul li{
        height:40px;
        line-height:40px;
    }
    
    

   
}

@media screen and (max-width:800px){

    figure div{
        
        height:300px;
        background-position: 70%;
       
    }
    

    .leftmenu{
        display:none;
    }

    article >div:first-child{
        margin-right:0;
    }

    article >div:nth-child(2){
        text-align: center;
    }

 
    



