@charset "utf-8";

/* 스타일 초기화 파일 */
* {
    padding: 0;
    margin: 0;

}

body {
    font: 16px 'Noto sans CJK kr', sans-serif;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
}

img {
    border: 0;
    vertical-align: top;
}

hr {
    border-color: #aaa;
}

.clearfix::before {
    display: block;
    clear: both;
    content: '';

}