@charset "utf-8";

/* 기본셋팅 */
figure {
    overflow: hidden;
}


figure div {
    background: url("../images/sub01/sub_01_top.jpg");
    height: 350px;
    background-position: 65%;
    width: 100%;
    background-size: cover;

}

.leftmenu {
    margin-right: 30px;
    width: 220px;
}

.leftmenu h2 {
    font-size: 1.5em;
    width: 220px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #aaa;

}

.leftmenu>ul>li>a {
    width: 220px;
    text-align: left;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #aaa;
    text-indent: 10px;
    font-size: 14px;
}



.leftmenu>ul>li>a:hover {
    background: #2ccc6c;
    color: white;
}

.leftmenu ul li a.on {
    background: #19773f;
    color: white;
}



article {
    width: 70%;
    margin-top: 30px;
}

article>div:first-child {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
    margin-right: 60px;
    color: #999;
}

article>div:first-child a {
    color: #999;
}





article h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 10px;

}

.section {
    display: flex;
    justify-content: space-between;
}

.section article {
    flex-grow: 1;
    width: 70%;
}


@media screen and (max-width:425px) {
    figure div {
        background: url("../images/sub01/mobile_main.png") no-repeat center !important;
        background-size: 100% 200px !important;
        height: 200px !important;
    }

    .con strong {
        display: block;
        margin-top: 10px;
        font-size: 1.2em !important;
        margin-bottom: 10px;
    }

}

@media screen and (max-width:800px) {

    figure div {

        height: 300px;
        background-position: 70%;


    }


    .leftmenu {
        display: none;
    }

    article>div:first-child {
        margin-right: 0;
    }

    article>div:nth-child(2) {
        text-align: center;
    }

    /* 셋팅 */
    article div:nth-child(4)>div {
        display: flex;
        justify-content: space-between;
    }

    article div:nth-child(4)>div h2 {
        flex-grow: 1;
        font-size: 1em;
        height: 24px;
        line-height: 24px;

    }

    article div:nth-child(4)>div p {
        line-height: 24px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        font-size: 12px;

        width: 100px;
        text-align: right;
        text-indent: 10px;
        font-weight: bold;
    }

    article div:nth-child(4)>div input:first-child {
        margin-top: 12px;
        width: 180px !important;
        height: 24px;
    }

    article div:nth-child(4)>div input:nth-child(2) {
        margin-top: 12px;
        width: 60px;
        height: 24px;
    }

    .sub_menu_list>div>ul>li {
        letter-spacing: -1px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;

    }





}


/* 기본셋팅 */
.con {
    text-align: center;
    margin-bottom: 30px;
}

.con p {
    text-align: left;
}

.con img {
    max-width: 100%;
    width: 80%;
}

.con strong {
    display: block;
    margin-top: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.con div {
    margin-left: 20%;
    text-align: left;

    color: #999;
    font-size: 12px;
}